<div class="black-section">
  <div class="row black-section-text my-2">
    <div [class]="'col-md-3 ' + (item.name === 'Phone' ? 'mx-3': 'mx-5')" *ngFor="let item of dataToDisplay">
      <h5 class="section-title"><b>{{ item.name }}</b></h5>
      <p>{{ item.data }}</p>
    </div>
  </div>
</div>

@if(!isConnected){
  <div class="error">Error while fetching data. For more info open console!</div>
}

@if (isConnected) {
  <button class="btn btn-light border border-black mx-4"
          (click)="isShown = !isShown">Change Black Section Data
  </button>
  @if (isShown) {
    <form name="blackSectionForm" class="my-4 mx-4" #form='ngForm' (ngSubmit)="onSubmit(form)">
      <div class="form-group">
        <label>{{ dataToDisplay[0].name }}</label>
        <input type="text" name="phone" ngModel required
               class="form-control"
               maxlength="10"
               minlength="10"
               placeholder="{{dataToDisplay[0].data}}">
        @if (!form.controls['phone']?.valid && (!form.controls['phone']?.untouched || form.controls['phone'].dirty)) {
          <small class="form-text error">Phone must be exactly 10 numbers long.</small>
        }
      </div>
      <div class="form-group">
        <label>{{ dataToDisplay[1].name }}</label>
        <input type="email" class="form-control"
               name="email"
               ngModel required email
               placeholder="{{dataToDisplay[1].data}}">
        @if (!form.controls['email']?.valid && (!form.controls['email']?.untouched || form.controls['email'].dirty)) {
          <small class="form-text error">This field is required and must include test&#64;provider</small>
        }
      </div>
      <div class="form-group">
        <label>{{ dataToDisplay[2].name }}</label>
        <input type="text" class="form-control" name="address" ngModel required placeholder="{{dataToDisplay[2].data}}">
        @if (!form.controls['address']?.valid && (!form.controls['address']?.untouched || form.controls['address'].dirty)) {
          <small class="form-text error">This field is required</small>
        }
      </div>
      <button type="submit" class="btn btn-primary mt-3" [disabled]="form.invalid">Submit</button>
    </form>
  }
}
