.black-section {
  background-color: #000;
  color: #fff;
  padding: 15px;
  margin-right: -12px;
}

.black-section-text {
  font-weight: lighter;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
}
