<div class="p-5">
  <h1 class="section-title p-3" style="letter-spacing: 5px; "><b>EDUCATION</b></h1>
  <div class="content">
    <p><span class="text-body-tertiary">2014-2016</span><br>
      <span class="text-body-emphasis">Degree/Major Name</span><br>
      <span class="text-light-emphasis">University name here</span></p>

    <p><span class="text-body-tertiary">2010-2014</span><br>
      <span class="text-body-emphasis">Degree/Major Name</span><br>
      <span class="text-light-emphasis">University name here</span></p>
  </div>
  <h1 class="section-title p-3" style="letter-spacing: 5px; "><b>LANGUAGE</b></h1>
  <div class="content">
    <ul class="my-list">
      <li><b>English</b></li>
      <li><b>French</b></li>
      <li><b>Spanish</b></li>
    </ul>
  </div>
  <h1 class="section-title p-3" style="letter-spacing: 5px; "><b>SKILLS</b></h1>
  <div class="content">
    <ul class="my-list">
      <li><b>Photoshop</b></li>
      <li><b>Illustrator</b></li>
      <li><b>InDesign</b></li>
      <li><b>After Effects</b></li>
      <li><b>Sketch</b></li>
    </ul>
  </div>
</div>
